# Data Wrangling for Lamudi Dataset

In [1]:
import os

import pandas as pd
import numpy as np
import geopy
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

from pathlib import Path

## Reading Data

The initial dataset can be observed where each variable can be viewed as well as its contents.

In [2]:
pd.read_csv?

In [3]:
pd.read_excel?

In [4]:
init_data = pd.read_csv('/Users/Nico/Desktop/DSDATA/' + '/condominiums.csv')
init_data.head()

,name,address,price,bedroom,bath,floorarea (m²),amenities,Daycare Center,Social hall,Billiards table,...,Powder room,Air conditioning,Secure parking,Pay TV access,rating,location,point,city,lat,long
0,"Grand Hyatt Residences: 3BR For Rent, 133 sqm,...","8th Avenue corner 36th Street, BGC Fort Bonifa...",130000,3,4,133,"Secure parking ,",0,0,0,...,0,0,1,0,4.19,NaN,NaN,NaN,0.000000,0.000000
1,Bi Level Penthouse Unit with Pool at McKinley ...,"Philippines, Taguig City, Le Grand Ave Fort Bo...",295000,3,4,220,"Swimming pool ,",0,0,0,...,0,0,0,0,4.19,"Unilever Philippines, 2nd Avenue, Fort Bonifac...","(14.5546834, 121.0452905, 0.0)",Taguig,14.531508,121.034749
2,For Rent: 1BR Condo unit in The Viceroy,"Fort Bonifacio, Taguig",28000,1,1,34,"CCTV ,Air conditioning ,Alarm System ,Elevator...",1,0,0,...,0,1,0,0,4.77,"Fort Bonifacio, Taguig, Southern Manila Distri...","(14.5492496, 121.0506413, 0.0)",Taguig,14.549250,121.050641
3,For Rent: Rada Regency One Bedroom Condo With ...,"100 Rada Corner Dela Rosa Sts., Legazpi Villag...",25000,1,1,42,"Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...",0,0,0,...,0,1,1,0,4.19,NaN,NaN,NaN,0.000000,0.000000
4,For Rent : New Studio at Pines Peak Tower 1,"Pines Corner Union Sts., Barangka, Mandaluyong...",12000,1,1,20,"Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...",0,1,0,...,0,1,1,1,4.83,NaN,NaN,NaN,0.000000,0.000000

## Explore the data

It is important to explore the data to know the size, the datatypes and the statistics of the data.

This process will utilize `pandas` `Dataframe` and will use different commands in viewing different attributes in the data.
The following commands are utilize:

#### Shape

`shape` can check the number of rows and columns of the dataset.

In [5]:
init_data.shape

(3000, 106)

#### Datatypes

`dtypes` are used to view the different datatypes in the data.

In [6]:
init_data.dtypes

name         object
address      object
price         int64
bedroom       int64
bath          int64
             ...
location     object
point        object
city         object
lat         float64
long        float64
Length: 106, dtype: object

#### Basic Statistics of the Data

`desccribe()` provide basic descriptive statistics for the varibles. By default, it only includes numerical data but some arguments can be done to observe non-numerical data.

In [7]:
init_data.describe()

,price,bedroom,bath,floorarea (m²),Daycare Center,Social hall,Billiards table,Shower rooms,Swimming pool,Business Center,...,Theater,Shops,Pool bar,Powder room,Air conditioning,Secure parking,Pay TV access,rating,lat,long
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,...,3000.0,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,2672.000000,3000.000000,3000.000000
mean,68140.815333,1.656333,1.575000,78.849667,0.000667,0.001000,0.000333,0.003000,0.01100,0.002333,...,0.0,0.004000,0.000667,0.000667,0.006667,0.004667,0.001667,4.238222,9.719554,80.815721
std,59484.990403,0.748608,1.080168,63.275058,0.025816,0.031612,0.018257,0.054699,0.10432,0.048256,...,0.0,0.063129,0.025816,0.025816,0.081391,0.068165,0.040798,0.466169,6.860054,57.026414
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.220000,0.000000,0.000000
25%,26000.000000,1.000000,1.000000,36.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.990000,0.000000,0.000000
50%,50000.000000,1.000000,1.000000,60.500000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.190000,14.549250,121.026594
75%,90000.000000,2.000000,2.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.520000,14.563168,121.050641
max,462000.000000,4.000000,32.000000,435.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.990000,14.679676,124.895471

In [14]:
init_data.describe(include=np.object)

<ipython-input-14-df816f0a2751>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  init_data.describe(include=np.object)

,name,address,point,rating,amenities,Amphitheater,Maid's room,Fire sprinkler system,Garden,Multi-Purpose Hall,...,Parking lot,Fire exits,CCTV,Jacuzzi,Floorboards,Function area,Open fireplace,Gymnasium,Daycare Center,Indoor spa
count,3000,3000,3000,2672,2618,3000,3000,3000,3000,3000,...,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
unique,2810,1313,326,66,1908,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,"1 Bedroom Unit for Rent at The Grove, Ugong Pasig","Fort Bonifacio, Taguig",None,4.19/5,"Alarm System ,Elevators ,Fire exits ,Lobby ,24...",Not available,Not available,Not available,Not available,Not available,...,Not available,Available,Not available,Not available,Not available,Not available,Not available,Not available,Not available,Not available
freq,13,495,997,861,196,2949,2672,1807,2268,2655,...,2506,1834,1565,2872,2917,2386,2969,2457,2859,2904

In [6]:
init_data.isna().sum()

Unnamed: 0        0
name              0
address           0
price             0
bedroom           0
                 ..
Function area     0
Open fireplace    0
Gymnasium         0
Daycare Center    0
Indoor spa        0
Length: 103, dtype: int64

In [7]:
init_data.dropna?

In [9]:
init_data.duplicated().sum()

0

Since there are no duplicated data, there is no need to drop any entries.

### Data Transformation

Given the initial dataset, some variables will be transformed and produce other necessary variables.

#### Transforming Categorical Variables

As can be seen in the data set, there are repeating names for available amenities. This could be further be separated to a separate categorical variable for every unique amenity offered.

In [8]:
init_data['amenities'] = init_data['amenities'].fillna('')
replace_values = {'NaN' : 'None'}
init_data = init_data.replace({"point": replace_values})  
init_data

,name,address,price,bedroom,bath,floorarea (m²),amenities,Daycare Center,Social hall,Billiards table,...,Powder room,Air conditioning,Secure parking,Pay TV access,rating,location,point,city,lat,long
0,"Grand Hyatt Residences: 3BR For Rent, 133 sqm,...","8th Avenue corner 36th Street, BGC Fort Bonifa...",130000,3,4,133,"Secure parking ,",0,0,0,...,0,0,1,0,4.19,NaN,NaN,NaN,0.000000,0.000000
1,Bi Level Penthouse Unit with Pool at McKinley ...,"Philippines, Taguig City, Le Grand Ave Fort Bo...",295000,3,4,220,"Swimming pool ,",0,0,0,...,0,0,0,0,4.19,"Unilever Philippines, 2nd Avenue, Fort Bonifac...","(14.5546834, 121.0452905, 0.0)",Taguig,14.531508,121.034749
2,For Rent: 1BR Condo unit in The Viceroy,"Fort Bonifacio, Taguig",28000,1,1,34,"CCTV ,Air conditioning ,Alarm System ,Elevator...",1,0,0,...,0,1,0,0,4.77,"Fort Bonifacio, Taguig, Southern Manila Distri...","(14.5492496, 121.0506413, 0.0)",Taguig,14.549250,121.050641
3,For Rent: Rada Regency One Bedroom Condo With ...,"100 Rada Corner Dela Rosa Sts., Legazpi Villag...",25000,1,1,42,"Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...",0,0,0,...,0,1,1,0,4.19,NaN,NaN,NaN,0.000000,0.000000
4,For Rent : New Studio at Pines Peak Tower 1,"Pines Corner Union Sts., Barangka, Mandaluyong...",12000,1,1,20,"Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...",0,1,0,...,0,1,1,1,4.83,NaN,NaN,NaN,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Studio type fully furnished for rent at SM Jaz...,"229 Nicanor Garcia Bel-Air, Makati",22000,1,1,20,"Alarm System ,Elevators ,Fire exits ,Lobby ,24...",0,0,0,...,0,0,0,0,NaN,"Nicanor T. Garcia, Bel-Air, Salcedo, Makati 1s...","(14.5628003, 121.0223484, 0.0)",Makati,14.564227,121.022610
2996,2 Bedroom Condotel-Type Unit with Utilities,4687 Santiago Street corner B. Valdez and Sing...,100000,2,3,79,"Alarm System ,Elevators ,Fire exits ,Lobby ,24...",0,0,0,...,0,0,0,0,4.19,NaN,NaN,NaN,0.000000,0.000000
2997,"2 Bedroom For Rent at one maridien, Fort","One Maridien Fort Bonifacio, Taguig",130000,2,1,93,"Gymnasium ,CCTV ,Utility room ,Air conditionin...",0,0,0,...,0,0,0,0,3.99,"One Maridien, 27th Street, Fort Bonifacio, Tag...","(14.548802599999998, 121.05023365311763, 0.0)",Taguig,14.548803,121.050234
2998,3-BR Condo Unit Pacific Plaza Tower ( North ) ...,"Fort Bonifacio, Taguig",240000,3,3,298,"CCTV ,Air conditioning ,Elevators ,Fire exits ...",0,0,0,...,0,0,0,0,3.99,"Fort Bonifacio, Taguig, Southern Manila Distri...","(14.5492496, 121.0506413, 0.0)",Taguig,14.549250,121.050641
2999,1 Bedroom Condo Unit (Fully Furnished) for ren...,"East Service Road, Barangay Western Bicutan, T...",35000,1,1,0,"Entertainment room ,Fitness center ,Function R...",0,0,0,...,0,0,0,0,3.22,NaN,NaN,NaN,0.000000,0.000000

Check amenities variable.

In [9]:
init_data['amenities']

0                                        Secure parking ,
1                                         Swimming pool ,
2       CCTV ,Air conditioning ,Alarm System ,Elevator...
3       Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...
4       Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...
                              ...
2995    Alarm System ,Elevators ,Fire exits ,Lobby ,24...
2996    Alarm System ,Elevators ,Fire exits ,Lobby ,24...
2997    Gymnasium ,CCTV ,Utility room ,Air conditionin...
2998    CCTV ,Air conditioning ,Elevators ,Fire exits ...
2999    Entertainment room ,Fitness center ,Function R...
Name: amenities, Length: 3000, dtype: object

Split the amenities and store.

In [10]:
amenities = init_data['amenities'].str.cat() 
amenities = set(amenities.split(" ,"))

In [11]:
amenities.remove('')

Initially place "Not Available" in all elements in newly initialized categorical variables.

In [12]:
for a in amenities:
    init_data[a] = 0

A new categorical data is placed for every unique amenity.

In [13]:
init_data.head()

,name,address,price,bedroom,bath,floorarea (m²),amenities,Daycare Center,Social hall,Billiards table,...,Powder room,Air conditioning,Secure parking,Pay TV access,rating,location,point,city,lat,long
0,"Grand Hyatt Residences: 3BR For Rent, 133 sqm,...","8th Avenue corner 36th Street, BGC Fort Bonifa...",130000,3,4,133,"Secure parking ,",0,0,0,...,0,0,0,0,4.19,NaN,NaN,NaN,0.000000,0.000000
1,Bi Level Penthouse Unit with Pool at McKinley ...,"Philippines, Taguig City, Le Grand Ave Fort Bo...",295000,3,4,220,"Swimming pool ,",0,0,0,...,0,0,0,0,4.19,"Unilever Philippines, 2nd Avenue, Fort Bonifac...","(14.5546834, 121.0452905, 0.0)",Taguig,14.531508,121.034749
2,For Rent: 1BR Condo unit in The Viceroy,"Fort Bonifacio, Taguig",28000,1,1,34,"CCTV ,Air conditioning ,Alarm System ,Elevator...",0,0,0,...,0,0,0,0,4.77,"Fort Bonifacio, Taguig, Southern Manila Distri...","(14.5492496, 121.0506413, 0.0)",Taguig,14.549250,121.050641
3,For Rent: Rada Regency One Bedroom Condo With ...,"100 Rada Corner Dela Rosa Sts., Legazpi Villag...",25000,1,1,42,"Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...",0,0,0,...,0,0,0,0,4.19,NaN,NaN,NaN,0.000000,0.000000
4,For Rent : New Studio at Pines Peak Tower 1,"Pines Corner Union Sts., Barangka, Mandaluyong...",12000,1,1,20,"Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...",0,0,0,...,0,0,0,0,4.83,NaN,NaN,NaN,0.000000,0.000000

Replace the entry under a specified amenity if it is offered.

In [14]:
for index, row in init_data.iterrows():
    for a in amenities:
        if a in row['amenities']:
          init_data.at[index,a] = 1

Check the results.

In [15]:
init_data.head()

,name,address,price,bedroom,bath,floorarea (m²),amenities,Daycare Center,Social hall,Billiards table,...,Powder room,Air conditioning,Secure parking,Pay TV access,rating,location,point,city,lat,long
0,"Grand Hyatt Residences: 3BR For Rent, 133 sqm,...","8th Avenue corner 36th Street, BGC Fort Bonifa...",130000,3,4,133,"Secure parking ,",0,0,0,...,0,0,1,0,4.19,NaN,NaN,NaN,0.000000,0.000000
1,Bi Level Penthouse Unit with Pool at McKinley ...,"Philippines, Taguig City, Le Grand Ave Fort Bo...",295000,3,4,220,"Swimming pool ,",0,0,0,...,0,0,0,0,4.19,"Unilever Philippines, 2nd Avenue, Fort Bonifac...","(14.5546834, 121.0452905, 0.0)",Taguig,14.531508,121.034749
2,For Rent: 1BR Condo unit in The Viceroy,"Fort Bonifacio, Taguig",28000,1,1,34,"CCTV ,Air conditioning ,Alarm System ,Elevator...",1,0,0,...,0,1,0,0,4.77,"Fort Bonifacio, Taguig, Southern Manila Distri...","(14.5492496, 121.0506413, 0.0)",Taguig,14.549250,121.050641
3,For Rent: Rada Regency One Bedroom Condo With ...,"100 Rada Corner Dela Rosa Sts., Legazpi Villag...",25000,1,1,42,"Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...",0,0,0,...,0,1,1,0,4.19,NaN,NaN,NaN,0.000000,0.000000
4,For Rent : New Studio at Pines Peak Tower 1,"Pines Corner Union Sts., Barangka, Mandaluyong...",12000,1,1,20,"Gymnasium ,CCTV ,Air conditioning ,Alarm Syste...",0,1,0,...,0,1,1,1,4.83,NaN,NaN,NaN,0.000000,0.000000

In [16]:
init_data.to_csv('condos.csv')

Transform rating from object into float

In [ ]:
init_data['rating'] = init_data['rating'].str.replace('/5', '')
init_data['rating'] = init_data['rating'].astype(float)

#### Getting the Longitude and Latitude

To get the Longitude and Latitude of the data, we use Nominatim as the locator of the data adress

In [ ]:
locator = Nominatim(user_agent= "myGeocoder", timeout = 10)

Using the data adress stored in the data set we find the exact location of that address in store it in data location, aftewards this data location will be passed on data point which will store the longitude, latitude, and altitude of the location.

In [ ]:
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
init_data['location'] = init_data['address'].apply(geocode)
init_data['point'] = init_data['location'].apply(lambda loc: tuple(loc.point) if loc else None)

Since both latitude and longitude were stored in a single column, the column point must be split

    Before splitting the column point the empty cells within none column point must be filled with Nonetype values

In [ ]:
replace_values = {'NaN' : 'None'}
init_data = init_data.replace({"point": replace_values})  
init_data

    Splitting Longitude and Latitude in column point

In [ ]:
init_data[['latitude', 'longitude', 'altitude']] = dinit_data['point'].str.split(',', expand = True)

    Some cleaning and replace nontype value with object '0'

In [ ]:
init_data['latitude'] = init_data['latitude'].str.replace('(', '')
init_data['latitude'] = init_data['lat'].str.replace('None', '0')
init_data['longitude'] = init_data['longitude'].fillna('0')

#### Getting the City variable

Due to the different structures of the data adress or location, getting the city of each row is almost impossible, therefore by using the data longitude and latitude, getting the city of each row is possible

    by using def and passing the longitude and latitude of a row, it will do a reverse search but only returning the city of the location

In [ ]:
def city_(lat, long):
    location = locator.reverse(lat+","+long)
    address = location.raw['address']
    city = address.get('city', '')
    return city

the returned city of each latitude and longitde will be stored in column data

In [ ]:
init_data['city'] = init_data.apply(lambda x: city_state_country(str(x['lat']), str(x['long'])), axis = 1)